In [1]:
%pip install jupysql trino pandas pyarrow --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install sqlalchemy-trino --quiet

Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

df = pd.read_parquet(
    "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
)
df.shape

(1369769, 19)

In [19]:
df.head(1000)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,2021-01-01 00:57:42,2021-01-01 01:08:18,1.0,3.10,1.0,N,264,264,1,11.5,0.5,0.5,1.00,0.0,0.3,13.80,0.0,NaN
996,2,2021-01-01 00:19:34,2021-01-01 00:31:34,1.0,2.77,1.0,N,170,239,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,NaN
997,2,2021-01-01 00:16:38,2021-01-01 00:24:23,3.0,2.01,1.0,N,41,263,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,NaN
998,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,4,-12.0,-0.5,-0.5,0.00,0.0,-0.3,-15.80,-2.5,NaN
999,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,2,12.0,0.5,0.5,0.00,0.0,0.3,15.80,2.5,NaN

In [1]:
from sqlalchemy import create_engine

engine = create_engine(
    "trino://user@trino:8080/example", connect_args={"user": "user"}
)

# df.to_sql(
#     con=engine,
#     name="taxi_2",
#     schema="default",
#     method="multi",
#     index=False,
# )

engine.dispose()

In [3]:
%load_ext sql

In [4]:
%sql trino://user@trino:8080/example

Connecting to 'trino://user@trino:8080/example'

In [8]:
%%sql
SHOW SCHEMAS

Running query in 'trino://user@trino:8080/example'

+--------------------+
|       Schema       |
+--------------------+
| example_s3_schema  |
| information_schema |
+--------------------+

In [16]:
%%sql 
USE example.example_s3_schema

Running query in 'trino://user@trino:8080/example'

++
||
++
++

In [17]:
%%sql
SHOW TABLES

Running query in 'trino://user@trino:8080/example'

+----------------+
|     Table      |
+----------------+
| employees_test |
+----------------+

In [21]:
%%sql
SELECT * FROM employees_test LIMIT 10

Running query in 'trino://user@trino:8080/example'

+-----------+----------+
|    name   |  salary  |
+-----------+----------+
| Sam Evans | 55000.00 |
+-----------+----------+

In [30]:
%%sql
SELECT * FROM "employees_test$snapshots" ORDER BY committed_at desc

Running query in 'trino://user@trino:8080/example'

+----------------------------------+---------------------+---------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|           committed_at           |     snapshot_id     |      parent_id      | operation |                                                                   manifest_list                                                                   |                                                                                                                                                            summary                                                                                                                                                             |
+----------------------------------+---------------------+---------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-07-21 07:58:28.809000+00:00 |  113056888935869159 | 5428772407313275161 |   append  |  s3://warehouse/test/employees_test-9ae07ec2e0cd48b7b920c8593ab4ee76/metadata/snap-113056888935869159-1-eb26cace-6e4d-4133-a85d-bec2af36022a.avro | {'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'trino_query_id': '20240721_075827_00002_xied6', 'total-position-deletes': '0', 'added-files-size': '399', 'total-delete-files': '0', 'total-files-size': '399', 'total-records': '1', 'total-data-files': '1'} |
| 2024-07-21 07:58:27.387000+00:00 | 5428772407313275161 |         None        |   append  | s3://warehouse/test/employees_test-9ae07ec2e0cd48b7b920c8593ab4ee76/metadata/snap-5428772407313275161-1-d1996d1e-943d-4bfb-ab7c-7a1301cdb3bb.avro |                                       {'changed-partition-count': '0', 'total-equality-deletes': '0', 'trino_query_id': '20240721_075826_00001_xied6', 'total-position-deletes': '0', 'total-delete-files': '0', 'total-files-size': '0', 'total-records': '0', 'total-data-files': '0'}                                       |
+----------------------------------+---------------------+---------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+